* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(179, 179, 179);
}

.burger-menu {
    position: absolute;
    inset: 10px 10px auto auto;
    display: none;
    z-index: 7;
}

.logo {
    width: 150px
}

nav a {
    margin-left: 100px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    color: rgb(98, 98, 98);;
    font-weight: bold;
}

nav a:hover {
    transition-duration: 1s;
    font-size: 19.5px;
    text-decoration: underline;
}

.presentation {
    position: relative;
    height: 300px;
    margin-bottom: 100px;
    border-bottom: solid 1px rgb(179, 179, 179);
}

.presentation img {
    z-index: 2;
    position: absolute;
    right: 300px;
    top: 50%;
    transform: translateY(-50%);
    width: 700px;
}

.slogan {
    position: absolute;
    right: 95px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 225px;
    height: 225px;
}

.presentation p {
    font-family: "Poppins";
    position: absolute;
    color: #FF9700;
    justify-self: flex-start;
}

.presentation span {
    font-family: "Poppins";
    color: black;
}

.orange-rectangle {
    z-index: 1;
    background-color: #FF9700;
    height: 300px;
    width: 300px;
    position: absolute;
    right: 20px;
    border-radius: 0 20px 0 20px;
}

.social-network {
    background-color: white;
    cursor: pointer;
    z-index: 8;
    height: 120px;
    overflow: hidden;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    top: 230px;
    transition: transform 0.3s ease-in-out;
}

.social-network img {
    width: 30px;
    cursor: pointer;
}

.social-network:hover {
    transform: translateX(-10px) scale(1.7);

}

@media screen and (max-width: 1200px) {
    .logo {
        width: 75px;
    }

    .burger-menu {
        display: initial;
        cursor: pointer;
    }

    nav {
        all: unset;
        background-color: rgb(117, 117, 117);
        height: 100vh;
        width: 100vw;
        z-index: 5;
        position: fixed;
        right: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all .6s ease-in-out;
    }

    nav a {
        all: unset;
        line-height: 200px;
        cursor: pointer;
        font-family: "Poppins";
        color: white;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }

    .toggler {
        right: 0;
    }

    .visible {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}