* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.card {
  cursor: pointer;
  position: relative;
  width: 16rem;
  height: 21rem;
  border: 3px solid #FF9700;
  border-radius: 10px;
  display: block;
  margin: auto;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  position: absolute;
  inset: auto auto 30px 30px;
  transition: inset 0.3s 0.3s ease-out;
  text-transform: uppercase;
}

.card p,
.card a {
  font-family: "Poppins";
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

.card p {
  inset: auto auto 120px 30px;
}

.card a {
  inset: auto auto 30px 30px;
  text-decoration: none;
  color: inherit;
}

.card:hover h2 {
  inset: auto auto 240px 30px;
  transition: inset .3s ease-out;
}

.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

.material-symbols-outlined {
  vertical-align: middle;
}

@media screen and (max-width: 1200px) {
  .card-wrapper {
    all: unset;
    margin-top: 50px;
    flex-direction: column;
  }

  .card {
    margin-bottom: 50px;
  }
}